
      
      /* contact  */
      .contact-grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-row: 1fr 1fr 1fr 1fr 1fr;
        margin-top: 0px;
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 5px;
        row-gap: 20px;
        column-gap: 20px;
        z-index:1;
        
      }


      .contact-title{
        font-family: Lumanosimo;
        color: darkblue;
        font-weight: bold;
        font-size: 14px;
        text-align: right;
        vertical-align: middle;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 600;    
        line-height: 18px;
        margin-bottom: 0px;
      
      }

      .contact-txt{
        font-family: roberto,arial;
        color: black;
        font-weight: 500;
        font-size: 14px;
        text-align: left;
        width: 100%;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-bottom: 0px;
       
      }