 /* Examples */

 .example-box{
      
  display:grid;
  position: relative;
  grid-template-columns: 1fr 5fr 2fr;
  
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 50px;
  margin-left: 50px;
  
  background-color: rgb(214, 227, 227, 0.2); 
  padding:20px;
  z-index:  20;
  
  /* try - from w3 schools shadows */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: gray 0px 0px 7px 2px;
  box-sizing: border-box;
  }

  .example-type{
    font-family: Lumanosimo;
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  
  .example-txt{
    font-family: roberto,arial;      
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0px;
    word-spacing: 4px;
    margin-left: 50px;
    margin-right:50px;
    padding: 20px;
    z-index:1;
  }
  
  .example-txt p{
    font-size: 16px;
    margin-bottom: 20px;
  }

  .example-icon{
   
  width:100%;
  object-fit: contain;
  vertical-align: top;
  }
 