.about-box{
      
  display:block;
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 200px;
  margin-left: 200px;
  background-color: rgb(214, 227, 227,0.5); 
  padding:20px;
  z-index:  20;
  
  /* try - from w3 schools shadows */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: gray 0px 0px 7px 2px;
  box-sizing: border-box;



  }

  
  
  .about-txt{
    font-family: roberto,arial;      
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0px;
    word-spacing: 4px;
    margin-left: 50px;
    margin-right:50px;
    padding: 20px;
    z-index:1;
  }
  
  .about-txt p{
    font-size: 16px;
    margin-bottom: 20px;
  }


  .team-photo-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 30px;
    margin-bottom:30px;
    margin-right: 100px;
    margin-left: 100px;
    border-style: none;
    z-index:  30;
    }
  

    

    .team-photo{
      position: relative;
      object-fit: contain;
      height:300px;
  
   }