.about-box{
      
  display:block;
  
  margin-top: 0px;
  margin-bottom: 20px;
  margin-right: 10%;
  margin-left: 10%;
  background-color: rgb(214, 227, 227,0.1); 
  padding:20px;
  z-index:  20;
  
  /* try - from w3 schools shadows */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: gray 0px 0px 7px 2px;
  box-sizing: border-box;



  }

  
  
  .about-txt{
    font-family: roberto,arial;      
    font-weight: 700;
    line-height: 25px;
    margin-bottom: 0px;
    word-spacing: 4px;
    margin-left: 50px;
    margin-right:50px;
    padding: 20px;
    z-index:1;
  }
  
  .about-txt p{
    font-size: 20px;
    margin-bottom: 20px;
  }


  .team-photo-container{
    display: grid;
    grid-template-columns:   1fr 5fr 1fr;
    place-items: center;
    margin-top: 0px;
    margin-bottom:20px;
    margin-right: 10%;
    margin-left: 10%;
    border-style: none;
    z-index:  30;
    }
  

    

    .team-photo{
      position: relative;
      object-fit: contain;
      height:400px;
  
   }

   .ncoss-text1{
    font-family: roberto,arial;
    font-size:70px;
    color:rgba(128, 128, 128, 0.644);    
    font-weight: 500;
    line-height: 25px;
    text-align:center;
    margin-bottom: 20px;
    word-spacing: 4px;
    margin-left: 0px;
    margin-right:10px;
    padding: 20px;
    z-index:1;
    
   }

   .ncoss-text2{
    font-family: roberto,arial;
    font-size:13px;
    font-weight: 500;
    line-height:2px;
    margin-bottom: 0px;
    word-spacing: 1px;    
    padding: 0px;
    z-index:1;
    
   }
