
.mvv-row{
  /* mvv = mission, vision, values  */
      
  display:grid;
  position: relative;
  grid-template-columns: 1fr 4fr ;
  
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 200px;
  margin-left: 200px;
  row-gap: 30px;
  column-gap: 40px;
  background-color: rgb(214, 227, 227, 0.2); 
  padding:10px;
  z-index:  20;
  
  /* try - from w3 schools shadows */
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: gray 0px 0px 7px 2px;
  box-sizing: border-box;
  }
  .mvv-cat{
    font-family: Lumanosimo;
    color: darkblue;
    font-weight: bold;
    font-size: 18px;
    
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .mvv-dtls{
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;  
  }