
.team-photo-container-mar23{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 0px;
  margin-bottom: 60px;
  margin-right: 100px;
  margin-left: 100px;
  border-style: none;
  z-index:  30;
  }


 .team-photo-mar23{
  position: relative;
  object-fit: contain;
  height:300px;
   /*
  margin-top: 0px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left:100px;
  */

 }

.team-table-row{
  
  display:grid;
  grid-template-columns: 1fr 4fr ;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 100px;
  margin-left: 100px;
  row-gap: 30px;
  column-gap: 40px;
  background-color: rgb(214, 227, 227, 0.5);
  padding:20px;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-left-width:2px;
  border-right-width: 2px;
  border-color: navy;
  border-style:solid;
  z-index:  20;
  }

 

  .team-table-item{
    padding:0px;
    position:relative;
  }

  .person-name{
    font-family: Lumanosimo;
    color: darkblue;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
 
  }

  .person-details{
    color: black;
    font-family: Arial;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    text-align: left;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;  
  }
